<div [ngClass]="alerta" class="alert" role="alert">
    <strong>Well Done!</strong> You successfully read this important alert menssage
</div>

<button (click)="alerta='alert-info'" class="btn btn-info">
info
</button>

<button (click)="alerta='alert-success'" class="btn btn-success">
success

</button>
<br>
<h3 [ngClass]="{'text-danger': propiedades,'text-info':!propiedades}">hola mundo</h3>
<button class="btn " [ngClass]="{'btn-primary':!propiedades,'btn-danger':propiedades}" (click)="propiedades=!propiedades">
    <span *ngIf="!propiedades">Cambiar a rojo</span>
    <span *ngIf="propiedades">Cambiar a azul</span>
</button>

<br><br>
<button class="btn btn-primary" type="button" name="button" (click)="ejecutar()" [disabled]="loading">
    <span *ngIf="!loading">Guardar Cambios </span>
    <span *ngIf="loading">Espere por Favor </span>
    <i [ngClass]="{'fa-save':!loading,'fa-refresh fa-spin':loading}" class="fa"> </i>
    </button>